html, body, #root, .gameSpace {
    height: 100%;
    font-family: 'Roboto';
}

body {
    background: grey;
    color: white;
}

.hide {
    display: none;
}

.gameTitle {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.gameSpace {
    display: flex;
    justify-content: space-evenly;
}

.playingButtonsGroup {
    display: flex;
    justify-content: center;
}

.playAgainButton {
    margin: 3rem 0 2rem 0;
}

.playingCardScene {
    width: 239px;
    height: 335px;
    perspective: 600px;
    align-self: center;
}

.playingCard {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.playingCard.isFlipped {
    transform: rotateY(180deg);
}

.playingCardFace {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: 239px 335px;
    border-radius: 12px !important;
    backface-visibility: hidden;
}

.playingCardFace--front {
    transform: rotateY(180deg);
}

.card-face-ace {
    background: url(./components/GameCard/assets/AH.svg) !important;
}

.card-face-reverse {
    background: url(./components/GameCard/assets/2B.svg) !important;
}

.card-face-joker {
    background: url(./components/GameCard/assets/1J.svg) !important;
}

.markCardWrapper {
    position: absolute;
    top: 14%;
}

.markCard {
    height: 100% !important;
    width: 100% !important;
    color: green;
}

.metrics {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.metricBox {
    font-size: 2rem;
    border-bottom: 0.125rem solid #3f51b5;
    padding: 0.5rem;
}