html, body, #root, .gameSpace {
	height: 100%;
	font-family: 'Roboto';
} 

body {
	background: grey;
	color: white;
}

.gameTitle {
	text-align: center;
}

.gameSpace {
	display: flex;
	justify-content: space-evenly;
}

.playingCardScene {
	width: 239px;
	height: 335px;
	perspective: 600px;
	align-self: center;
}

.playingCard {
	width: 100%;
	height: 100%;
	position: relative;
	transition: transform 1s;
	transform-style: preserve-3d;
}

.playingCard.isFlipped {
	transform: rotateY(180deg);
}

.playingCardFace {
	position: absolute;
	height: 100%;
	width: 100%;
	background-size: 239px 335px;
	border-radius: 12px !important;
	backface-visibility: hidden;
}

.playingCardFace--front {
	transform: rotateY(180deg);
}

.cardAH {
	background: url(./AH.svg) !important;
}

.card2B {
	background: url(./2B.svg) !important;
}

.card1J {
	background: url(./1J.svg) !important;
}